.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.conta {
  background-color: white;
  min-height: 100vh;
}

.innerModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  background-color: whitesmoke;
  margin: 1rem auto;
}
.modal {
  background-color: honeydew !important;
}
.modal img {
  width: 75%;
  margin-top: 7.5%;
  margin-bottom: 2rem;
}
.modal h1 {
  width: 100%;

  text-align: center;
  padding: 0.5rem;
  color: red;
  border-bottom: 1px solid #333;
}
.modal strong {
  color: red;
}
.text-left {
  width: 100%;
  padding: 1rem;
}
.useless .text-left {
  margin-bottom: 0.5rem !important;
  width: 100% !important;
}

.useless {
  margin-bottom: 0.5rem !important;
  width: 100% !important;
}

.modal .approx {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.wrappa {
  background-color: honeydew !important;
  background: url('/images/b.jpg');
  background-position: center;

  background-size: contain;
  min-height: 50vh;
  display: flex;
  justify-content: center;
}

footer {
  background-color: rgb(122, 122, 122);
  height: 8vh;
  text-align: center;
  padding: 0.5rem;
}
